<!DOCTYPE html>
<html>
  <header>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <h2>My Monthly Budget</h2>
  </header>
  <body>
    <h4>income R2000.00</h4>
      <table>
          <tr>
            <th>Description</th>
            <th>Expense</th>
          </tr>
          
          <tr>
            <td><i class="fa fa-home"></i> Rental</td>
            <td>R1000.00</td>
          </tr>
          <tr>
            <td><i class="fa fa-taxi"></i> Transport</td>
            <td>R500.00</td>
          </tr>
          <tr>
            <td><i class="fa fa-shopping-cart"></i>  Food</td>
            <td>R500.00</td>
        </tr>
        </table>
        
  </body>
</html>